.navbar {
	display: flex;
	align-items: center;
	padding: 2rem 0 2rem 8rem;
	background-color: #fff;
}

h1 {
	font-size: 2.5rem;
	color: #0290FF;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	width: 20%;
	margin-left: 2rem;
	text-transform: uppercase;
}

.navbar ul li a {
	color: #0290FF;
	text-decoration: none;
}
